@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";
@import "@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";

/* Asegura que los controles estén por encima de todo y reciban clics */
.mapboxgl-ctrl-top-right {
  z-index: 100 !important;
  pointer-events: auto !important;
}

.mapboxgl-ctrl-group {
  pointer-events: auto !important;
}

/* Evita que el contenedor del mapa bloquee los controles */
.maplibregl-canvas-container {
  pointer-events: auto;
}

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
